<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd"
        default-autowire="byName">
   <!-- 配置spring 包扫面组件 -->
   <context:component-scan base-package="com.kkk"/>
   <!-- 配置postgre sql数据源  dataSource在sqlSessionFactory中-->
   <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
   		 <property name="driverClassName" value="org.postgresql.Driver"/>
   		 <property name="url" value="jdbc:postgresql://localhost:5432/postgres"/>
   		 <property name="username" value="postgres"/>
   		 <property name="password" value="123456"/>
   </bean>
   
   <!-- 配置mybatis id须为sqlSessionFactory,用于自动装配-->
   <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
   		<!-- 引入mybatis.cfg.xml -->
   		<property name="configLocation" value="classpath:mybatis.cfg.xml"/>
   		<!-- 引入映射文件 -->
   		<property name="mapperLocations" value="classpath:com/kkk/yxl/*/pojo/*.xml"/>
   </bean>
   
   <!-- 扫描Dao文件 MapperScannerConfigurer,Mapper中属性basePackage,扫描注解-->
   <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
   		<property name="basePackage" value="com.kkk.yxl"/>
   </bean>
   
   <!-- 配置spring 事物管理 -->
   <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"/>
   
   <tx:advice id="txAdvice" transaction-manager="transactionManager">
   		<tx:attributes>
   			<tx:method name="insert*" propagation="REQUIRED" rollback-for="Exception"/>
   			<tx:method name="update*" propagation="REQUIRED" rollback-for="Exception"/>
   			<tx:method name="delete*" propagation="REQUIRED" rollback-for="Exception"/>
   			<tx:method name="*" read-only="true"/>
   		</tx:attributes>
   </tx:advice>
   
   <!-- 配置事务切入点 -->
   <aop:config>
   	  <aop:pointcut expression="execution (* com.kkk.yxl.*.service.impl.*.*(..))" id="pointcut"/>
   	  <!-- 将切入点与事务管理的方法关联 -->
   	  <aop:advisor advice-ref="txAdvice" pointcut-ref="pointcut"/>
   </aop:config>
   
</beans>